<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name ="SmartCardService.SmartCardServiceServices.SCSClientProvider">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4001/ISCSClientService"/>
          </baseAddresses>
        </host>
      </service>
      <service name ="SmartCardService.SmartCardServiceServices.SCSATMProvider">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4002/IATMService"/>
          </baseAddresses>
        </host>
      </service>
      <service name ="SmartCardService.SmartCardServiceServices.SCSReplicatorProvider">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4003/IReplicateService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
